<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.fadpws" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>webservice2</name>
    <description>
        Agenda app para capturar los datos de las personas
    </description>
    <author email="sebasrv623@gmail.com" href="http://blackwolf.com">
        mi empresa
    </author>
    <content src="index.html" />
    <access origin="http://especialistasenlaweb.com" />
    <puglin name="cordova-plugin-whitelist" source="npm"/>
    <allow-navigation href="*" />
    <allow-intent href="*" />
</widget>
